/*Common styles*/
body {
    background: #000;
    color: seashell;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

a {
    color: seashell;
    text-decoration: underline;
}

a[href*="tel"] {
    text-decoration: none;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    margin: 15px;
}

h4 {
    font-size: 22px;
    font-weight: 600;
    margin: 30px 0 10px 0;
}

h5 {
    font-size: 16px;
    font-weight: 600;
    margin: 40px 0;
}

/*Nav*/
nav { 
    height: 69px;
    position: fixed;
    border-bottom: 1px solid seashell;
    z-index: 10;
    background-color: #000;
    width: 100%;
    top:0;
}

.logo {
    height: 50px;
    width: auto;
    position: absolute;
    left: 10px;
    top:50%;
    transform: translateY(-50%);
    display: block;
}

.logo img {
    height: 100%;
}

.menu {
    position: absolute;
    right: 0;
    height: 69px;
    
}

.menu li{
    display: inline-block;
    margin: 24px 15px;
    font-size: 22px;
}


/*Header / Hero */
header {
    background: url('../images/img-mission-background.jpg');
    height: 700px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    margin-top:70px;
}

header::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    background: rgba(0,0,0,0.5);
}


.hero_text_block {
    background-color: #000;
    height: auto;
    width: 100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

/*Main*/
main {
    margin: 40px auto 0 auto;
    width: 1200px;
}

#featured {
    width: 1000px;
    margin: 90px auto;
    
}

#featured h4 {
    margin: 10px 0 0 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image_block {
    width: 300px;
    height: auto;
    margin: 30px 15px 0px 15px;
}

.image_block img {
    width: 300px;
    height: 200px;
}

#locations {
    background: url('../images/img-locations-background.jpg');
    background-size: cover;
    height: 570px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 80px 0;
    box-sizing: border-box;
}

#locations::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    background: rgba(0,0,0,0.5);
}

#locations h2 {
    position: relative;
    z-index: 10;
    margin-bottom: 0;
}

#locations h3 {
    font-size: 22px;
    font-weight: 600;
}

#locations .container {
    position: relative;
    z-index: 10;
}

.location_block {
    width: 300px;
    height: 278px;
    background-color: #000;
    margin: 15px 20px;
}

#locations ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

#locations li {
    font-size: 22px;
    font-weight: 400;
    width: 100%;
}

/*Footer*/
footer {
    padding: 10px 20px;
}

footer h2 {
    margin: 0;
}

.copyright {
    text-align: left;
    margin-bottom: 25px;
}

